<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="首页">
    <siteMapNode title="我的状态面板"  icon="fa-dashboard">
      <siteMapNode title="概要视图" controller="Home" action="Index"/>
      <siteMapNode title="我的KPI" controller="DF_OwnReport" action="Index"/>
    </siteMapNode>

    <siteMapNode title="系统管理"  icon="fa-cogs" permissionNames="ManageLogs">
      
      <siteMapNode title="用户管理" controller="User" action="Index" />
      <siteMapNode title="组别管理" controller="Group" action="Index"/>
      <siteMapNode title="权限管理" controller="Auth" action="Index" />
      <siteMapNode title="媒介组配置" controller="MediumSetting" action="Index"/>
      <siteMapNode title="参数配置" controller="Settings" action="Index" />
      <siteMapNode title="异常日志" controller="Log" action="Index" permissionNames="ManageLogs"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

